name: Terraform Plan

on:
  pull_request
    # paths:
    #   - 'infra/**'
    #   - '.github/workflows/terraform-plan.yml'

jobs:
  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TERRAFORM_PRE_RUN: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SNOWFLAKE_PRIVATE_KEY }}" > ~/.ssh/snowflake_tf_snow_key.p8
        chmod 600 ~/.ssh/snowflake_tf_snow_key.p8
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Terraform Plan
        id: plan
        uses: dflook/terraform-plan@v2
        with:
          path: infra
          add_github_comment: true
          variables: |
            snowflake_organization_name = "${{ secrets.SNOWFLAKE_ORGANIZATION_NAME }}"
            snowflake_account_name = "${{ secrets.SNOWFLAKE_ACCOUNT_NAME }}"
            snowflake_role = "${{ secrets.SNOWFLAKE_ROLE }}"
            snowflake_warehouse = "${{ secrets.SNOWFLAKE_WAREHOUSE }}"

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: terraform-plan
          path: ${{ steps.plan.outputs.plan_path }}
          retention-days: 1

